#cloud-config
manage_etc_hosts: true

users:
  - default
%{ if ansible_user == "root" ~}
  - name: root
    ssh_authorized_keys:
      - ${ansible_ssh_public_key}
%{ else ~}
  - name: ${ansible_user}
    groups:
      - sudo
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - ${ansible_ssh_public_key}
%{ endif ~}

ssh_pwauth: false
disable_root: ${ansible_user == "root" ? "false" : "true"}

package_update: true
package_upgrade: false

packages:
  - openssh-server
  - python3
  - sudo
  - qemu-guest-agent

runcmd:
  - systemctl enable --now ssh
  - systemctl enable --now qemu-guest-agent
