ansible/.vault_pass

platform/credentials.auto.tfvars
platform/terraform.tfstate.backup
platform/terraform.tfstate
platform/.terraform*
platform/.terraform/*

provisioning/etc
provisioning/var


.NOTES.md
deployment/.vault_pass

templates/credentials.auto.tfvars
templates/terraform.tfstate.backup
templates/terraform.tfstate
templates/.terraform*
templates/.terraform/*

terraform/credentials.auto.tfvars
terraform/terraform.tfstate.backup
terraform/terraform.tfstate
terraform/.terraform*
terraform/.terraform/*

jobs/credentials.auto.tfvars
jobs/terraform.tfstate.backup
jobs/terraform.tfstate
jobs/.terraform*
jobs/.terraform/*