name = "nomad"

# Directory to store agent state
data_dir = "/etc/nomad.d/data"

# Address the Nomad agent should bing to for networking
# 0.0.0.0 is the default and results in using the default private network interface
# Any configurations under the addresses parameter will take precedence over this value
bind_addr = "0.0.0.0"

ports {
  http = 4646
  rpc  = 4647
  serf = 4648
}

# TLS configurations
tls {
  http = false
  rpc  = false

  # ca_file   = "/etc/certs/ca.crt"
  # cert_file = "/etc/certs/nomad.crt"
  # key_file  = "/etc/certs/nomad.key"
}

# Specify the datacenter the agent is a member of
datacenter = "dc"

# Logging Configurations
log_level = "INFO"
log_file  = "/etc/nomad.d/nomad.log"

# Server & Raft configuration
# server {
#   enabled          = true
#   bootstrap_expect = 3
#   encrypt = "{{ gossip_secret }}"
#   server_join {
#     retry_join = {{ cluster_ips }}
#   }
# }

# Client Configuration - Node can be Server & Client


consul {
  address = "consul:8500"
  auto_advertise      = true
  ssl = false
  checks_use_advertise = true
}