#name = "nomad"

# Logging Configurations
log_level = "INFO"
log_file  = "/etc/nomad.d/nomad.log"

data_dir  = "/opt/nomad/data"
bind_addr = "0.0.0.0"

datacenter  = "dc"
region      = "se-hva"

{% if nomad_type == 'client' %}
server {
  enabled = false  
}

client {
  enabled = true
  servers = ["nomad"]
}

ui {
  enabled = true
}

{% else %}
server {
  enabled          = true
  bootstrap_expect = 1
  server_join {
    retry_join     = [ "nomad", ]
    retry_max      = 5
    retry_interval = "15s"
  }
}

client {
  enabled = false
}

ui {
  enabled = true
}

{% endif %}

{% if use_consul %}
consul {
  address               = "127.0.0.1:8500"
  auto_advertise        = true
  ssl                   = false
  checks_use_advertise  = true
}
{% endif %}