// Send logs to Loki
loki.write "default" {
  endpoint {
    url = "{{ loki_endpoint }}"
    {% if loki_basic_auth is defined and loki_basic_auth.username and loki_basic_auth.password %}
    basic_auth {
      username = "{{ loki_basic_auth.username }}"
      password = "{{ loki_basic_auth.password }}"
    }
    {% endif %}
  }
}

// Read local log files
loki.source.file "var_log" {
  targets = [
    { "__path__" = "/var/log/*.log", "job" = "linux", "host" = "{{ inventory_hostname }}" },
  ]

  // Optional: start reading at end of file to avoid backlog
  start_at = "end"

  // Send to Loki
  forward_to = [loki.write.default.receiver]
}