entryPoints:
  http:
    address: :80
    http:
      redirections:
        entryPoint:
          scheme: https
          to: https
  https:
    address: :443
    asDefault: true
    http3: {}
    transport:
      respondingTimeouts:
        readTimeout: 300
  mqtt:
    address: 1883


http:
  routers:
    immich:
      rule: Host(`immich.securitybits.io`)
      entrypoints: websecure
      service: immich
      tls:
        certresolver: letsencrypt
      middlewares:
        - limitBodySize@file

    nomad:
      rule: Host(`nomad.securitybits.io`)
      entrypoints: websecure
      service: nomad
      tls:
        certresolver: letsencrypt
      middlewares:
        - ip-whitelist

    consul:
      rule: Host(`consul.securitybits.io`)
      entrypoints: websecure
      service: consul
      tls:
        certresolver: letsencrypt    
      middlewares:
        - ip-whitelist

    vault:
      rule: Host(`vault.securitybits.io`)
      entrypoints: websecure
      service: vault
      tls:
        certresolver: letsencrypt
      middlewares:
        - ip-whitelist

  services:
    immich:
      loadBalancer:
        servers:
          - url: "http://10.0.50.125:2283"

    nomad:
      loadBalancer:
        servers:
          - url: "http://nomad:4646"

    consul:
      loadBalancer:
        servers:
          - url: "http://consul:8500"
    
    vault:
      loadBalancer:
        servers:
          - url: "http://vault:8200"
          

  middlewares:
    limitBodySize:
      buffering:
        maxRequestBodyBytes: 5000000000
    ip-whitelist:
      ipWhiteList:
        sourceRange:
          - "10.0.0.0/8"