# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: BUSL-1.1

# Full configuration options can be found at https://www.consul.io/docs/agent/config

datacenter = "dc"
data_dir = "/opt/consul"
log_level = "INFO"


{% if nomad_type == 'client' %}
server = false
ui_config {
  enabled = false
}
{% else %}
bootstrap_expect=1
server = true
ui_config{
 enabled = true
}
{% endif %}

client_addr = "127.0.0.1"
bind_addr = "127.0.0.1" # Listen on all IPv4
#advertise_addr = "127.0.0.1"

retry_join = ["consul"]

ports {
  grpc = 8502
}

connect {
  enabled = true
}
